/* 共通 */

.zen-kaku-gothic-new-regular {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 14px;
    color: #333;
    width: 100%;
    background: linear-gradient(-20deg, #C0DBFE 0%, #FDEAFF 100%) no-repeat;
}

#container {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

/* 背景星ここから */
.star {
    width: 50px;
    position: absolute;
    transition: var(--de) ease-out;
}

.star img {
    animation: stars 5s infinite linear;
    animation-delay: 0;
}

.s01 {
    width: 50px;
    top: 4%;
    left: 20px;
    --de: 0.7s;
}

.s01 img {
    transform: rotate(20deg);
    animation-delay: 0;
}

.s02 {
    width: 100px;
    top: 10.5%;
    right: 20px;
    --de: 0.7s;
}

.s02 img {
    transform: rotate(-10deg);
    animation-delay: 0.5s;
}

.s03 {
    width: 30px;
    top: 11.5%;
    left: 100px;
    --de: 0.7s;
}

.s03 img {
    transform: rotate(20deg);
    animation-delay: 0.5s;
}


.s04 {
    width: 30px;
    top: 15.5%;
    left: 20px;
    --de: 0.7s;
}

.s04 img {
    transform: rotate(-20deg);
    animation-delay: 0.5s;
}

.s05 {
    width: 60px;
    top: 18%;
    left: 90px;
    --de: 0.7s;
}

.s05 img {
    transform: rotate(20deg);
    animation-delay: 1s;
}

.s06 {
    width: 30px;
    top: 20%;
    right: 150px;
    --de: 0.7s;
}

.s06 img {
    transform: rotate(-10deg);
    animation-delay: 1s;
}

.s07 {
    width: 50px;
    top: 21%;
    right: 30px;
    --de: 0.7s;
}

.s07 img {
    transform: rotate(-10deg);
    animation-delay: 1s;
}

.s08 {
    width: 70px;
    top: 23.8%;
    left: 5px;
    opacity: 0.7;
    --de: 0.7s;
}

.s08 img {
    transform: rotate(20deg);
    animation-delay: 1s;
}

.s09 {
    width: 30px;
    top: 24.6%;
    right: 30px;
    --de: 0.7s;
}

.s10 {
    width: 60px;
    top: 26.3%;
    right: 35px;
    opacity: 0.6;
    --de: 0.7s;
}

.s10 img {
    transform: rotate(-10deg);
    animation-delay: 1s;
}

.s11 {
    width: 50px;
    top: 28%;
    left: 30px;
    opacity: 0.7;
    --de: 0.7s;
}

.s12 {
    width: 50px;
    top: 29.2%;
    right: 10px;
    opacity: 0.6;
    --de: 0.7s;
}

.s13 {
    width: 80px;
    top: 32.5%;
    left: 30px;
    --de: 0.7s;
    opacity: 0.7;
}

.s13 img {
    transform: rotate(-10deg);
    animation-delay: 1s;
}

.s14 {
    width: 30px;
    top: 36.2%;
    right: 40px;
    --de: 0.7s;
}

.s14 img {
    transform: rotate(-10deg);
    animation-delay: 1s;
}

.s15 {
    width: 60px;
    top: 40%;
    left: 10px;
    --de: 0.7s;
    opacity: 0.7;
}

.s15 img {
    transform: rotate(-10deg);
    animation-delay: 1s;
}

.s16 {
    width: 30px;
    top: 41.5%;
    right: 30px;
    --de: 0.7s;
}

.s17 {
    width: 30px;
    top: 45%;
    left: 30px;
    --de: 0.7s;
}

.s18 {
    width: 60px;
    top: 47%;
    right: 20px;
    --de: 0.7s;
    opacity: 0.7;
}

.s18 img {
    transform: rotate(10deg);
    animation-delay: 1s;
}

.s19 {
    width: 50px;
    top: 53%;
    left: 15px;
    --de: 0.7s;
    opacity: 0.7;
}

.s19 img {
    transform: rotate(-20deg);
    animation-delay: 1s;
}

.s20 {
    width: 80px;
    top: 52%;
    right: 50px;
    --de: 0.7s;
    opacity: 0.7;
}

.s20 img {
    transform: rotate(10deg);
    animation-delay: 1s;
}

.s21 {
    width: 30px;
    top: 60%;
    left: 20px;
    --de: 0.7s;
}

.s21 img {
    transform: rotate(-10deg);
    animation-delay: 1s;
}

.s22 {
    width: 50px;
    top: 63%;
    right: 60px;
    opacity: 0.7;
    --de: 0.7s;
}

.s22 img {
    transform: rotate(-10deg);
    animation-delay: 1s;
}

.s23 {
    width: 60px;
    top: 65%;
    left: 20px;
    --de: 0.7s;
}

.s23 img {
    transform: rotate(-10deg);
    animation-delay: 1s;
}

.s24 {
    width: 30px;
    top: 68%;
    right: 20px;
    opacity: 0.7;
    --de: 0.7s;
}

.s24 img {
    transform: rotate(10deg);
    animation-delay: 1s;
}

.s25 {
    width: 80px;
    top: 70%;
    right: 20px;
    opacity: 0.7;
    --de: 0.7s;
}

.s25 img {
    transform: rotate(10deg);
    animation-delay: 1s;
}

.s26 {
    width: 30px;
    top: 73%;
    left: 70px;
    --de: 0.7s;
}

.s27 {
    width: 80px;
    top: 74.5%;
    left: 20px;
    opacity: 0.7;
    --de: 0.7s;
}

.s27 img {
    transform: rotate(10deg);
    animation-delay: 1s;
}

.s28 {
    width: 50px;
    top: 77.5%;
    right: 30px;
    opacity: 0.7;
    --de: 0.7s;
}

.s28 img {
    transform: rotate(10deg);
    animation-delay: 1s;
}

.s29 {
    width: 30px;
    top: 78.5%;
    left: 90px;
    --de: 0.7s;

}

.s29 img {
    transform: rotate(10deg);
    animation-delay: 1s;
}

.s30 {
    width: 90px;
    top: 80%;
    left: 10px;
    opacity: 0.8;
    --de: 0.7s;
}

.s30 img {
    transform: rotate(-30deg);
    animation-delay: 1s;
}

.s31 {
    width: 70px;
    top: 82%;
    right: 20px;
    opacity: 0.8;
    --de: 0.7s;
}

.s31 img {
    transform: rotate(10deg);
    animation-delay: 1s;
}

.s32 {
    width: 50px;
    top: 82.8%;
    left: 40px;
    --de: 0.7s;
}

.s32 img {
    transform: rotate(-10deg);
    animation-delay: 1s;
}

.s33 {
    width: 100px;
    top: 84%;
    left: 70px;
    --de: 0.7s;
}

.s33 img {
    transform: rotate(20deg);
    animation-delay: 1s;
}

.s34 {
    width: 50px;
    top: 83.1%;
    right: 100px;
    --de: 0.7s;
}

.s34 img {
    transform: rotate(-20deg);
    animation-delay: 1s;
}

.s35 {
    width: 120px;
    top: 84.3%;
    right: 60px;
    opacity: 0.8;
    --de: 0.7s;
}

.s35 img {
    transform: rotate(-20deg);
    animation-delay: 0.5s;
}

@keyframes stars {
    0% {
        transform: scale(1) rotate(0);
        opacity: 1;
    }

    50% {
        transform: scale(1.3) rotate(180deg);
        opacity: 0.5;
    }

    100% {
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
}

.starBlue {
    width: 20px;
    position: absolute;
}

.sb01 {
    top: 11%;
    left: 50px;
}

.sb02 {
    top: 13%;
    left: 80px;
}

.sb03 {
    top: 15.8%;
    right: 20px;
}

.sb04 {
    top: 20%;
    left: 80px;
}

.sb05 {
    top: 24%;
    right: 100px;
}

.sb06 {
    top: 30.8%;
    left: 80px;
}

.sb07 {
    top: 32%;
    right: 80px;
}

.sb08 {
    top: 33.7%;
    left: 80px;
}

.sb09 {
    top: 36%;
    right: 10px;
}

.sb10 {
    top: 41%;
    left: 10px;
}

.sb11 {
    top: 45%;
    right: 10px;
}

.sb12 {
    top: 50.2%;
    left: 30px;
}

.sb13 {
    top: 53.8%;
    left: 110px;
}

.sb14 {
    top: 55%;
    right: 110px;
}

.sb15 {
    top: 62%;
    left: 50px;
}

.sb16 {
    top: 65%;
    right: 10px;
}

.sb17 {
    top: 70%;
    left: 60px;
}

.sb18 {
    top: 74%;
    right: 100px;
}

.sb19 {
    top: 78%;
    left: 20px;
}

.sb20 {
    top: 80%;
    right: 50px;
}

.sb21 {
    top: 83.3%;
    left: 90px;
}

.sb22 {
    top: 84%;
    right: 40px;
}

.sb23 {
    top: 85.1%;
    left: 50px;
}

/* 星ここまで */

main {
    width: 100%;
    margin: 0 auto;
}

section {
    padding: 80px 0px;
    /* 他ページは左右10px */
    line-height: 1.5;
    letter-spacing: 0.1rem;
    margin: 0 auto;
}

img {
    width: 100%;
}

h2 {
    font-size: 56px;
    color: #fff;
    filter: drop-shadow(10px 5px 5px #ccc);
}

.h2p {
    font-size: 16px;
    color: #0573C1;
}

h3 {
    font-size: 24px;
    color: #0573C1;
}


/* タイトルの白線 */
section {
    position: relative;
}

.whiteLine {
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 228px;
    left: 0;
}


/* ヘッダー */
header {
    max-width: 430px;
}

#header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 1s ease-in;
}

#header.active {
    top: -100%;
}

header #nav {
    background-color: rgba(245, 246, 247, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 61%;
    padding-left: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: 0.3s;
    color: #0573C1;
    letter-spacing: 0.1rem;
    z-index: 200;
    transform: translateX(100%);
}

#nav li {
    margin-bottom: 50px;
    border-bottom: solid .8px #0573C1;
}

#nav .navSns {
    border-bottom: none;
    display: flex;
    gap: 20px;
}

#nav .navSns img {
    width: 30px;

}

#nav.active {
    transform: translateX(0);
}

.header .logo a {
    display: flex;
    align-items: top;
    gap: 0.5rem;
    font-size: 10px;
    color: #0573C1;
}

.header .logo a>img {
    width: 50px;
    margin-left: 10px;
}


/* ハンバーガーメニュー */
header .ham {
    width: 70px;
    height: 50px;
    background-color: #C0DBFE;
    border-radius: 40% 0 0 40%;
    position: relative;
    right: 0;
    transition: 0.3s;
}

.ham.active {
    position: fixed;
    top: 20px;
    right: 61%;
}

.ham .bar {
    display: block;
    width: 20px;
    height: 1px;
    background-color: #0573C1;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.ham .bar:nth-child(1) {
    transform: translate(-50%, calc(-50% - 10px));
}

.ham .bar:nth-child(3) {
    transform: translate(-50%, calc(-50% + 10px));
}

.ham.active .bar:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
    transition: 0.2s;
}

.ham.active .bar:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: 0.2s;
}

.ham.active .bar:nth-child(2) {
    opacity: 0;
}

/* 見学ボタン */
.visitbtn {
    position: fixed;
    width: 150px;
    height: auto;
    right: 0;
    top: 180px;
    z-index: 100;
    animation: moveUpAndDown 3.5s infinite;
    cursor: pointer;
}

/* メインページ */
.blueShape {
    /* relativeはsectionセレクタ */
    width: 250px;
    height: auto;
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: -1;
}

.backGroundImg {
    background: url(../img/question_title.png) no-repeat left/contain;
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}

.big {
    font-size: 24px;
    color: #0573C1;
}

.bigtext {
    font-size: 16px;
    color: #333;
}

.question>.kyu {
    margin-top: 1.25%;
    margin-bottom: 14%;
}

.big>span {
    color: #fff;
}

.question {
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    padding: 6.25% 14.5%;
    margin: 100px 0;
}

.qu {
    position: absolute;
    top: -7%;
    left: 9%;
    width: 25%;
}

.an {
    position: absolute;
    bottom: -5%;
    right: 3.75%;
    width: 25%;
}

.moonLine {
    width: 80%;
    display: flex;
    margin: 150px auto;
    justify-content: space-around;
}

.moonLine img {
    object-fit: contain;
}



/* スケジュールのcss */
.sukedule>li {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2.5%;
}

.mark {
    padding-right: 5%;
    flex-basis: 10%;
}

.time {
    padding-right: 20px;
    flex-basis: 155px;
}

.timea {
    padding-left: 7px;
}

.timeb {
    padding-left: -5px;
}


/* フッター */
footer {
    width: 100%;
    position: relative;
}

.engBtn {
    background-color: #D1A8FF;
    width: 350px;
    border-radius: 60px;
    height: 90px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 5px #aaa;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.08rem;
}

.litaBtn {
    background-color: #FFAEEF;
    width: 350px;
    border-radius: 60px;
    height: 90px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 5px #aaa;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.08rem;
}

.engBtn,
.litaBtn {
    margin-bottom: 30px;
    transition: 0.3s ease-out;
}

.engBtn:hover,
.litaBtn:hover {
    box-shadow: none;
}

.engBtn a,
.litaBtn a {
    display: block;
    height: 90px;
    padding-top: 33px;
}

.outLink img {
    width: 30px;
}

.footerText {
    text-align: center;
    color: #0573C1;
    line-height: 1.5;
    letter-spacing: 0.08rem;
    margin: 50px 0;
}

.footerText>span {
    font-size: 24px;
}

.source {
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #0573C1;
    line-height: 1.5;
    letter-spacing: 0.08rem;
    margin: 50px 0 50px;
}

.footerEnd {
    background: url(../img/footerEnd-2.webp) no-repeat center top /cover;
    width: 100%;
    height: 300px;
    padding: 50px 0;
    position: relative;
}

.sns {
    max-width: 230px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
}

.sns img {
    width: 35px;
}

.sns::after {
    content: "";
    display: block;
    width: 200%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.contactBtn {
    margin-top: 60px;
}

.contactBtn a {
    background-color: #C7DEFC;
    border-radius: 60px;
    border: 8px solid #fff;
    max-width: 250px;
    height: 90px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 8px 5px #919191;
    transition: 0.3s ease-in;
}

.contactBtn a:hover {
    box-shadow: none;
}

.contactBtnText>span {
    font-size: 14px;
}

.contactBtn img {
    width: 20px;
}




/* PC用 */
@media screen and (min-width: 431px) {

    /* 共通 */
    body {
        font-size: 16px;
    }

    section {
        max-width: 1000px;
        margin-top: 100px;
    }

    h2 {
        font-size: 80px;
    }

    .h2p {
        font-size: 50px;
    }

    /* ヘッダー */
    .header {
        /* max-width: 1000px; */
        margin: 0 auto;
    }

    .logo {
        margin-left: 20px;
    }

    .header .logo a {
        display: block;
        font-size: 10px;
    }

    .header .logo a>img {
        width: 100px;
        margin-left: 0px;
        margin-bottom: 8px;
    }

    .header .logo a p {
        font-size: 12px;
        text-align: center;
    }

    header .navGroup {
        width: 100%;
        display: flex;
    }

    header #nav {
        background-color: transparent;
        position: static;
        height: 50px;
        padding-top: 0;
        padding-left: 0;
        margin: 0 auto;
        transform: none;
    }

    header #nav ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    #nav li {
        margin-bottom: 0;
        border-bottom: none;
    }

    #nav .navSns {
        display: none;
    }

    header .ham {
        display: none;
    }

    .container {
        max-width: 1000px;
        /* お好みで調整可能（900px〜1200pxが一般的） */
        margin: 0 auto;
        /* 水平中央寄せ */
        padding: 0 10px;
        /* スマホでも余白ができるように左右にパディングを */
    }

    /* 見学ボタン */
    .visitbtn {
        right: 4vw;
        top: 65vh;
        width: 250px;
    }

    /* メインページ */
    .blueShape {
        /* relativeはsectionセレクタ */
        width: 400px;
        right: 40%;
    }

    .backGroundImg {
        height: 300px;
    }

    /* タイトルの白線 */
    .whiteLine {
        top: 290px;
    }

    .question {
        padding: 100px 15%;
        padding-top: 102px;
        margin: 85px 0;
        margin-top: 500px;
        font-size: 24px;
        margin-top: 82px;
    }

    .bigtext {
        font-size: 24px;
    }

    .big {
        font-size: 40px
    }

    .qu {
        width: 17%;
        left: 45px;
        top: 50px;
    }

    .an {
        width: 17%;
        bottom: 40px;
        right: 4.5%
    }

    .answer {
        margin-left: 195px;
    }

    .moonLine {
        margin: 200px auto;
    }

    /* スケジュールのcss */
    .sukedule {
        width: 100%;
    }

    .sukedule>li {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 5px;
        margin-left: 20px;
    }

    .mark {
        padding-right: 40px;
        flex-basis: 10px;
        right: 20px;
    }

    .time {
        padding-right: 5px;
        flex-basis: 250px;
    }

    .timea {
        padding-left: 10.5px;
    }

    .timeb {
        padding-left: -5px;
    }

    /* フッター */
    .outLink {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 50;
        max-width: 1000px;
        margin: 0 auto;
    }

    .engBtn {
        margin-right: 30px;
    }

    .litaBtn {
        margin-left: 30px;
    }

    .access {
        margin: 0 auto;
        max-width: 1000px;
    }

    iframe {
        height: 300px;
    }

}

@media screen and (min-width: 700px) {
    .s29 {
        left: 180px;
    }

    .s30 {
        width: 180px;
        top: 80%;
        left: 80px;
    }

    .s31 {
        width: 80px;
        top: 78.8%;
        right: 100px;
    }

    .s32 {
        top: 81%;
        left: 600px;
    }

    .s33 {
        width: 100px;
        top: 83%;
        left: 250px;
    }

    .s34 {
        width: 130px;
        top: 82%;
        right: 150px;
    }

    .s35 {
        width: 80px;
        top: 82.1%;
        right: 500px;
    }

}


@media screen and (min-width: 1300px) {

    #nav li {
        font-size: 20px;
    }

    /* 星 */
    .s01 {
        width: 80px;
        top: 14%;
        left: 120px;
    }

    .s02 {
        width: 150px;
        top: 13%;
        right: 20px;
    }

    .s04 {
        width: 30px;
        left: 50px;
    }

    .s05 {
        top: 20%;
        width: 60px;
        left: 250px;
    }

    .s06 {
        width: 30px;
        right: 150px;
    }

    .s07 {
        width: 80px;
        right: 300px;
    }

    .s08 {
        top: 24%;
        width: 170px;
        left: 50px;
    }

    .s09 {
        right: 230px;
    }

    .s11 {
        left: 330px;
    }

    .s12 {
        right: 350px;
    }

    .s13 {
        width: 120px;
        left: 200px;
    }

    .s14 {
        width: 60px;
        right: 80px;
    }

    .s15 {
        width: 80px;
        left: 200px;
    }

    .s16 {
        width: 50px;
        right: 330px;
    }

    .s17 {
        left: 330px;
    }

    .s18 {
        width: 130px;
        top: 47%;
        right: 180px;
    }

    .s19 {
        left: 180px;
    }

    .s21 {
        left: 220px;
    }

    .s22 {
        width: 80px;
        right: 250px;
    }

    .s23 {
        left: 120px;
    }

    .s24 {
        right: 50px;
    }

    .s25 {
        width: 80px;
        right: 120px;
    }

    .s26 {
        left: 300px;
    }

    .s27 {
        left: 100px;
    }

    .s28 {
        top: 75%;
        width: 50px;
        right: 250px;
    }

    .s29 {
        left: 200px;
    }

    .s30 {
        width: 180px;
        top: 80%;
        left: 250px;
    }

    .s31 {
        width: 80px;
        top: 78.8%;
        right: 100px;
    }

    .s32 {
        top: 83%;
        left: 500px;
    }

    .s33 {
        width: 100px;
        top: 84%;
        left: 200px;
    }

    .s34 {
        width: 130px;
        top: 82%;
        right: 250px;
    }

    .s35 {
        width: 80px;
        top: 83%;
        right: 500px;
    }


}